/*********************************
** Author: Peter "Felix" Nguyen **
*********************************/

/*************
** noscript **
*************/

.flashing-white-text {
  animation-name: flashing-white-text;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 0.8s;
  animation-delay: 0s;
}

@keyframes flashing-white-text {
  from {
    color: rgba(255,255,255,1);
  }
  to {
    color: rgba(180,180,180,1);
  }
}

noscript div.add-padding {
  padding: 15px;
  padding-bottom: 0px;
}

noscript h1.warning {
  width: 100%;
  background-color: rgba(180,80,80,1); /* Warning Red */
  color: White; /* White */
  border-radius: 10px;
  padding: 20px;
  font-size: 28px !important;
  text-align: center !important;
}

/***********
** Header **
***********/

div.header {
  background-color: rgba(139,157,195,1); /* Light Blue */
  width: 100%;
  clear: both;
  height: 260px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-align: left;
}

div.header > a {
  float: left;
  height: 100%;
}

div.header > div.name-banner {
  background-color: White; /* Fallback color White*/
  background-color: rgba(60,190,120,1); /* Fallback color Calm Green */
  background-color: rgba(120,120,245,1); /* Fallback color Calm Blue */
  background: linear-gradient(210deg, rgba(120,120,245,1), rgba(60,190,120,1)); /* Calm Blue dominant gradient */
  background: linear-gradient(210deg, rgba(120,120,245,1), rgba(60,190,120,1), rgba(60,190,120,1)); /* Calm Green dominant gradient */
  position: absolute;
  left: 250px;
  right: 0px;
  top: 10px;
  font-size: 30px;
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(30,50,100,1); /* Darker Blue */
}

div.header.small {
  height: 120px;
}

div.header.small > div.name-banner {
  height: 100px;
  left: 110px;
}

div.header.small > div.name-banner > a {
  line-height: 90px;
  margin-top: 0px;
  /* background-color: red; */
}

div.header.small > div.name-banner > div.separator {
  height: 50px;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.header > div.name-banner:hover {
    border-color: rgba(220,220,220,1); /* Hover White */
  }
}

div.header > div.name-banner:active {
  border-color: White; /* Active White */
}

div.header > div.name-banner > a {
  font-family: monospace;
  font-weight: bold !important;
  letter-spacing: 0.25em;
  width: 33%;
  float: left;
  text-align: center;
  margin-top: 0px;
  line-height: 130px;
  display: block;
  color: Black;
}

div.header > div.name-banner > a:last-child {
  letter-spacing: 0.20em;
}

div.header > div.name-banner > div.separator {
  float: left;
  outline-color: rgba(0,0,0,1); /* Form Border Grey */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75) 40%, rgba(255, 255, 255, 0) 20%);
  background-position: center;
  background-size: 2px 6px;
  background-repeat: repeat-y;
  width: 0.5%;
  height: 90px;
  margin-top: 20px;
}

div.header > div.name-banner > a:nth-child(1):after {
  content: "PETER";
}
div.header > div.name-banner > a:nth-child(3):after {
  content: "FELIX";
}
div.header > div.name-banner > a:nth-child(5):after {
  content: "NGUYEN";
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.header > div.name-banner > a:hover {
    color: rgba(220,220,220,1); /* Hover White */
    letter-spacing: normal;
    /* background-color: red; */
  }
  div.header > div.name-banner > a:nth-child(1):hover:after {
    content: "analyze";
  }
  div.header > div.name-banner > a:nth-child(3):hover:after {
    content: "design";
  }
  div.header > div.name-banner > a:nth-child(5):hover:after {
    content: "implement";
  }
}

div.header > div.name-banner > a:active {
  color: White; /* Active White */
}

div.header > div.pages {
  position: absolute;
  left: 250px;
  right: 0px;
  bottom: 0px;
  font-size: 30px;
  padding-right: 0px;
}

div.header > div.pages > a {
  background-color: rgba(59,89,152,1); /* Dark Blue */
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  padding: 25px 0px;
  margin: 0px 0px;
  float: left;
  font-weight: bold !important;
  width: 33%;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-color: rgba(30,50,100,1); /* Darker Blue */
  border-bottom-color: White; /* White */
  border-left-color: rgba(30,50,100,1); /* Darker Blue */
  border-right-color: rgba(30,50,100,1); /* Darker Blue */
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  font-size: 30px;
}

div.header > div.pages > a.first {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-right-style: none;
}

div.header > div.pages > a.last {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-left-style: none;
}

div.header > div.pages > a:nth-child(2) {
  width: 34%;
}

/* TODO: Consider migrating the JQuery hover function to a CSS only method with media queries (test before release) */
@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.header > div.pages > a:hover {
    /* background-color: rgba(60,190,120,1); */
  }
}

div.header > div.pages > a.selected {
  background-color: rgba(60,190,120,1) !important; /* Active Green */
  color: Black;
  border-bottom-color: rgba(60,190,120,1); /* Active Green */
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.header > div.pages > a.selected:hover {
    cursor: not-allowed;
  }
}

div.header > div.name-logo > h1 {
  float: left;
  color: White !important;
}

div.header > div.name-logo {
  position: absolute;
  left: 0px;
  top: 10px;
  overflow: visible;
}

div.header.small > div.name-logo > a {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
}

div.header > div.name-logo > a {
  float: left;
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 10px;
  width: 240px;
  height: 240px;
  background-size: 240px 240px;
  background-repeat: no-repeat;
  background-image: url("../images/logo-released.png");
  transition-property: background-image;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.header > div.name-logo > a:hover {
    background-image: url("../images/logo-hovered.png");
    transition-duration: 0.75s;
  }
}

div.header > div.name-logo > a:active {
  background-image: url("../images/logo-pressed.png");
  transition-property: filter;
}

div.header > div.name-logo > a > h1 {
  margin: 0px;
  padding: 0px 20px;
  line-height: 50px;
}

div.header > div.name-logo > a > h3 {
  margin: 0px;
  padding: 0px 20px;
  line-height: 51px;
}

/********************
** Bootstrap modal **
********************/

.modal-floating-button {
  position: absolute;
  color: White;
  height: 32px;
  width: 32px;
  font-size: 20px;
  line-height: 20px;
  box-sizing: content-box;
  padding: 0px; /* Padding Override (Removal) */
  border-style: none;
  border-width: 0px;
  border-radius: 5px;
}

.modal-floating-button.open {
  top: 10px;
  right: 48px;
  background-color: rgba(80,200,20,0.9);
}

/* Bootstrap has it's own .close class so use a different name
to avoid Bootstrap overrides and conflicts */
.modal-floating-button.dismiss {
  top: 10px;
  right: 10px;
  background-color: rgba(255,80,20,0.9); /* Button Red */
}

/* Remove text selection AND passes input */
.not-clickable {
  pointer-events: none;
}

body.modal-open {
  overflow: inherit;
  padding-right: 0px !important;
  overflow-y: hidden;
}

.modal-dialog {
  cursor: pointer;
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important; /* Important to remove annoying right padding for scrollbar (1) */
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-x: auto;
  overflow-y: auto;
}

.modal-content {
  background: none;
  border-radius: 0px;
  border-style: none; /* Bootstrap override */
  box-shadow: 0 0 0 0 rgba(0,0,0,0); /* Bootstrap override */
  margin: 0px !important;
  padding: 0px !important;
  /* Start modal content vertical centering */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* End modal content vertical centering */
}

.modal-backdrop {
  opacity:0.80 !important;
}

.modal-body {
  background-color: red none; /* bookmarked */
  padding-top: 0px; /* originally 20px */
  padding-bottom: 0px; /* originally 20px */
  padding-left: 0px; /* strange side padding 0px */
  padding-right: 0px; /* strange side padding 0px */
}

.modal-screenshot {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal {
  padding: 0px !important; /* Important to remove annoying right padding for scrollbar (2) */
}

button {
  opacity: 1.0 !important;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  button:hover {
    opacity: 0.5 !important;
  }
}

/***********************
** Bootstrap carousel **
***********************/

div.carousel.grid-width > div.carousel-inner img {
  transition-property: filter;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.carousel.grid-width:hover > div.carousel-inner img {
    filter: brightness(85%);
  }
}

div.carousel.grid-width:active > div.carousel-inner img {
  filter: brightness(50%);
  transition-property: none;
}

p.slide-caption-main {
  font-size: 22px;
  margin-bottom: 0px;
}

p.slide-caption-sub {
  font-size: 18px;
}

div.carousel.grid-width > ol.carousel-indicators {
  text-align: center;
  width: auto;
  margin: auto;
  top: auto;
  bottom: 7px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

div.carousel.grid-width.indicators-as-caption > ol.carousel-indicators {
  bottom: -38px;
}

div.carousel.grid-width > ol.carousel-indicators > li {
  height: 28px;
  line-height: 28px;
  width: auto;
  font-family: monospace;
  border-width: 0px;
  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

div.carousel.grid-width > ol.carousel-indicators > li:hover {
  border-color: rgba(0,0,0,1) !important;
}

div.carousel.grid-width > ol.carousel-indicators > li.active {
  background-color: Black;
  animation-name: pulsating-carousel-indicator;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 0.6s;
  animation-delay: 0s;
}

@keyframes pulsating-carousel-indicator {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(1.15);
  }
}

div.carousel-inner.slide-background > div.item {
  background-color: rgba(230,230,230,0.2);
}

ol.carousel-indicators > li {
  text-indent: 0;
  line-height: 30px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);
  box-sizing: content-box;
  color: rgba(255,255,255,0.8); /* Dark Blue */
  background-color: rgba(59,89,152,0.8); /* Dark Blue */
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  ol.carousel-indicators > li:hover {
    background-color: rgba(30,160,90,0.8); /* Hover Green Transparent */
    border-style: dotted;
    border-width: 2px;
    border-color: rgba(255,255,255,0.4);
  }
}

ol.carousel-indicators > li:active {
  background-color: rgba(60,190,120,0.8); /* Active Green Transparent */
}

ol.carousel-indicators > li.active {
  height: 30px;
  width: 30px;
  border-style: solid;
  background-color: rgba(59,89,152,0.8); /* Dark Blue */
  border-width: 2px;
  border-color: rgba(255,255,255,0.8);
}

/* Necessary to undo .item from masonry (carousel also uses .item)*/
/* Tried to refactor .item but that didn't work properly */
.item-carousel {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

div.slide {
  padding: 0px !important;
  margin-top: 0px !important;
}

.glyphicon {
  /*margin-left: -45px !important;*/
  /*font-size: 60px !important;*/
}

div.carousel-inner > div.item {
  width: 100%;
}

/***********
** Fixers **
***********/

/* Clears the float behavior for the regular elements after the float elements*/
div.clear-floats {
  clear: both;
}

/* Fixes a visual glitch (white body below blue header) whenever glyphicon 
   starts to wrap a new line */
span.line-wrap-fix {
  display: block;
  clear: both;
}

/*****************************************
** Universal transitions and animations **
*****************************************/

* {
  transition-property: background-color, color, border-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  *:hover {
    transition-duration: 0.75s;
  }
}

*:active {
  transition-property: none;
}

/*****************
** Contact page **
*****************/

.contacts {
  margin-left: -20px !important;
}

.material-icon {
  display: block;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  .material-icon:hover {
    background-color: rgba(30,160,90,1) !important; /* Hover Green */
  }
}

.material-icon:active {
  background-color: rgba(60,190,120,1) !important; /* Active Green */
}

/*******************
** Bootstrap grid **
*******************/

/* [Bootstrap class: container-fluid] Specifies that the Grid container should be 100% width for all screen sizes */
.container-fluid {
  padding-left: 0px; /* Override Bootstrap's padding-left: 15px */
  padding-right: 0px; /* Override Bootstrap's padding-right: 15px */
}

div.col-sm-12.col-md-12.col-lg-12 {
  /* background-color: Black; */
}

/* Apply when -md AND -lg screens should be two columns */
div:not(.col-md-12).vertical-separator.position-2-1 {
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75) 40%, rgba(255, 255, 255, 0) 20%);
  background-position: calc(100%) center;
  background-size: 2px 6px;
  background-repeat: repeat-y;
}

/* Apply when -md AND -lg screens should be two columns */
div:not(.col-md-12).vertical-separator.position-2-2 {
  margin-bottom: 20px;
  padding-left: 20px;
}

/* Apply when ONLY -lg screens should be two columns */
div.col-md-12:not(.col-lg-12).vertical-separator.position-2-1 {
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75) 40%, rgba(255, 255, 255, 0) 20%);
  background-position: calc(100%) center;
  background-size: 2px 6px;
  background-repeat: repeat-y;
}

/* Apply when ONLY -lg screens should be two columns */
div.col-md-12:not(.col-lg-12).vertical-separator.position-2-2 {
  margin-bottom: 20px;
  padding-left: 20px;
}

div.vertical-separator > *:last-child {
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 1399px) {
  div.vertical-separator > *.allow-margin-bottom-sm-md {
    margin-bottom: 20px !important;
  }
}

/* Overlay the scrollbar necessary to align the vertical 
   divider because scrollbar shifts the line left */
div.change-log.overlay-scrollbar-sm-md {
  overflow-y: overlay;
}

/* If vertical-separator hidden, then scrollbar 
   should not overlay */
@media only screen and (max-width: 1399px) {
  div.change-log.overlay-scrollbar-sm-md {
    overflow-y: auto;
  }
}

div.initial-top-left-padding {
  padding-top: 20px;
  padding-left: 20px;
}

.row {
  margin-left: 0px; /* Override Bootstrap's -15px margin */
  margin-right: 0px; /* Override Bootstrap's -15px margin */
}

div.row.pad-top {
  padding-top: 25px !important;
}

.row.align-column-heights {
  display: flex !important; /* Keep varying column heights on same row [Part 1/4] */
  flex-wrap: wrap !important; /* Keep varying column heights on same row [Part 2/4] */
}

/* TODO: Is this even necessary? Consider removing parts 3 and 4 */
.row.align-column-heights > [class*='col-'] {
  display: flex !important; /* Keep varying column heights on same row [Part 3/4] */
  flex-direction: column !important; /* Keep varying column heights on same row [Part 4/4] */
}

div.item {
  background-color: rgba(255,255,255,1);
  margin-bottom: 0px !important;
}

div.item-margin {
  margin-top: 20px !important;
}

div.item.item-margin.attribution {
  margin-top: 10px !important;
}

li span {
  display: block;
  font-weight: bold !important; 
  margin-bottom: 5px;
}

iframe.border, div.border {
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(59,89,152,1); /* Dark Blue */
}

div.slideshow {
  cursor: pointer; /* required when used with anchor modals */
}

div.black-placeholder {
  background-color: Black; /* While still loading, it should appear as black rectangle */
  margin-bottom: 10px;
}

img {
  width: 100%;
}

div.media-container {
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px; /* Would prefer margin-right for consistency, but with bootstrap grid it's not a viable option */
}

div.media-background {
  overflow-y: hidden;
  background-color: rgba(230,230,230,1);
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: rgba(80,80,80,1);
  border-radius: 7px;
  height: 100%;
}

div.caption-background {
  height: 100%;
  background-color: rgba(140,140,140,0.2);
  padding: 0px !important;
}

p.media-caption {
  width: auto;
  display: inline-block;
  padding: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  text-align: left;
  overflow-y: auto;
  font-size: 18px;
}

div.item > h1, div.item > h2, div.item > h3,
div.item > h4, div.item > h5, div.item > h6 {
  padding: 20px;
  margin: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(30,50,100,1); /* Darker Blue */
  color: Black;
}

div.item > ul > li {
  /* float: left; */
  background-color: rgba(238,238,238,1);
  font-size: 20px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1.2px;
  border-color: rgba(153,153,153,1);
}

div.item {
  float: left;
  background-color: rgba(238,238,238,1) none; /* !important required */
  padding: 0px;
  overflow-y: hidden; /* Force border-radius on children */
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 10px;
  border-width: 0px;
  border-width: 2px;
  border-color: rgba(153,153,153,1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************
** Bootstrap **
**************/

[class*='col-'] {
  padding: 0px; /* Override Bootstrap's "col-" padding */
}

div.main-block {
  height: auto;
  overflow: hidden;
  clear: both;
}

div.main-block.fill-height {
  height: 100% !important;
  min-height: 100% !important;
  border-top-style: none;
  border-left-style: solid;
  border-bottom-style: none; /* not sure if prefer none or solid */
  border-left-color: rgba(30,50,100,1); /* Darker Blue */
  border-top-color: rgba(30,50,100,1); /* Darker Blue */
  border-bottom-color: rgba(30,50,100,1); /* Darker Blue */
  border-left-width: 5px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  background-color: rgba(59,89,152,1); /* Dark Blue */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/***********
** Footer **
***********/

p.footer {
  background-color: rgba(59,89,152,1); /* Dark Blue */
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

p.footer a {
  transition-duration: 0.25s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  p.footer a:hover {
    color: rgba(30,160,90,1); /* Hover Green */
  }
}

p.footer a:active {
  color: rgba(60,190,120,1); /* Active Green */
}

/*********************************
** Bootstrap tabs and tab panes **
** ---------------------------- **
** Large screens                **
** - Tabs on the left           **
** - Panes on the right         **
** ---------------------------- **
** Small screens                **
** - Tabs on the right          **
** - Panes on the right         **
*********************************/

div.tab {
  /* Leave empty for now (keep for structural or nominal reasons) */
}

.tab-content {
  padding: 0px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 1px; /* Ensure parent height fits child height */
  background-color: rgba(139,157,195,1); /* Light Blue */
}

.tab-pane {
  margin: 0px;
  padding: 0px;
}

div.tab > ul {
  list-style-type: none;
  padding: 0px !important;
  margin: 0px !important;
  list-style-position: inside;
  text-align: center;
}

div.left-col > div.tab > ul > li > a {
  border-top-left-radius: 0px; /* Smooth border */
  border-bottom-left-radius: 0px; /* Smooth border */
  font-size: 30px;
  padding: 25px 10px;
  margin: 0px;
  font-weight: bold !important;
  display: inline-block;
  width: 245px;
  border-top-style: solid;
  border-bottom-style: none;
  border-top-color: rgba(30,50,100,1); /* Darker Blue */
  border-bottom-color: rgba(30,50,100,1); /* Darker Blue */
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-right-style: solid;
  border-right-color: White; /* White */
  background-color: rgba(59,89,152,1); /* Dark Blue */
}

/* 
  On some browsers like Mozilla Firefox, clicking a link 
  will focus a button which leaves a dashed border (or similar) 
  on this button until focus is lost.
*/
div.left-col > div.tab > ul > li > a:focus {
  outline: none !important;
}

div.left-col > div.tab > ul > li > a.first {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

div.left-col > div.tab > ul > li > a.last {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: none; /* not sure if prefer none or solid */
}

div.left-col > div.tab > ul > li.active > a {
  background-color: rgba(60,190,120,1) !important; /* Active Green */
  color: Black;
  font-weight: bold !important;
  border-right-color: rgba(60,190,120,1) !important; /* Active Green */
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* This is no longer needed with the new JQuery hover function */
@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.left-col > div.tab > ul > li > a:hover {
    /* background-color: rgba(60,190,120,1); */
  }
}

.left-col {
  background-color: rgba(139,157,195,1); /* Light Blue */
  float:left;
  width: 245px;
  height: auto;
}

.left-col > h2 {
  text-align: right;
}

.right-col {
  width: auto;
  overflow: hidden;
}

/*************
** Headings **
*************/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0px; /* Override Bootstrap's margin-top: 10px */
  margin-bottom: 20px;
  margin-right: 20px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 10px;
}

/***************
** Paragraphs **
***************/

div.item > p.no-body {
  padding-top: 20px;
  padding-left: 20px;
}

div.item > h1.no-body, div.item > h2.no-body,
div.item > h3.no-body, div.item > h4.no-body,
div.item > h5.no-body, div.item > h6.no-body {
  border-bottom-style: none; /* Override and remove bottom border for Masonry */
  margin-bottom: 0px; /* Override and remove bottom margin for Masonry */
  padding-top: 20px;
  padding-left: 20px;
}

p {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/******************
** Blue headings **
******************/

section > h1.blue-heading, section > h2.blue-heading,
section > h3.blue-heading, section > h4.blue-heading,
section > h5.blue-heading, section > h6.blue-heading,
div.item > h1.blue-heading, div.item > h2.blue-heading,
div.item > h3.blue-heading, div.item > h4.blue-heading,
div.item > h5.blue-heading, div.item > h6.blue-heading {
  /* font-weight: bold; */
  background-color: rgba(59,89,152,1); /* Dark Blue */
  color: White;
  padding: 20px;
  margin: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(30,50,100,1); /* Darker Blue*/
}

section > h1.blue-heading.disconnected, section > h2.blue-heading.disconnected,
section > h3.blue-heading.disconnected, section > h4.blue-heading.disconnected,
section > h5.blue-heading.disconnected, section > h6.blue-heading.disconnected {
  border-radius: 10px;
}

/******************************
** Button links (tabs/other) **
******************************/

a, a:link, a:visited {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: White;
}

/*************************
** Button links (plain) **
*************************/

a.link-black > span {
  color: Black;
  transition-duration: 0.25s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  a.link-black:hover > span {
    color: rgba(30,160,90,1); /* Hover Green */
  }
}

a.link-black:active > span {
  color: rgba(60,190,120,1); /* Active Green */
}

/**************************
** Button links (flashy) **
**************************/

a.link-button {
  font-size: 24px;
  border-radius: 10px;
  background-color: White; /* Fallback if Gradient Fails */
  background: linear-gradient(180deg, rgba(255,255,255,1), rgba(200,200,200,1));
  border-width: 1px;
  border-color: rgba(160,180,220,1);
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 280px;
  float: left;
  text-align: center;
}

a.link-button > span, a.link-button:link > span, a.link-button:visited > span {
  color: rgba(40,100,160,1) !important; /* Link Blue */
  transition-duration: 0.25s;
  /* transition-property: none !important; /* Block Universal Animations */
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  a.link-button:hover > span {
    color: rgba(30,160,90,1) !important; /* Hover Green */
  }
}

a.link-button:active > span {
  color: rgba(60,190,120,1) !important; /* Active Green */
}

/**************************
** Button links (quotes) **
**************************/

a.link-quote {
  display: block;
  color: rgba(40,100,160,1); /* Link Blue */
  background-color: rgba(225,225,225,1); /* Quotes Card Grey */
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  margin-bottom: 20px !important;
}

a.link-quote span, a.link-quote div.quote-box.opening, a.link-quote div.quote-box.closing {
  transition-duration: 0.25s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  a.link-quote:hover span, a.link-quote:hover div.quote-box.opening, a.link-quote:hover div.quote-box.closing {
    color: rgba(30,160,90,1); /* Hover Green */
  }
}

a.link-quote:active span, a.link-quote:active div.quote-box.opening, a.link-quote:active div.quote-box.closing {
  color: rgba(60,190,120,1); /* Active Green */
}

/****************
** Screenshots **
****************/

div.screenshot {
  display: block;
  width: 100%;
  max-height: 100%;
  /* margin-bottom: 10px; */
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer; /* required when used with anchor modals */
}

div.screenshot > img {
  transform: scale(1.00);
  transition-property: filter;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  div.screenshot:hover > img {
    filter: brightness(85%);
  }
}

div.screenshot:active > img {
  filter: brightness(50%);
  transition-property: none;
}

.image-hover img {
  transform: scale(1.00);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  .image-hover img:hover {
    transform: scale(1.04);
  }
}

.image-hover img:active {
  transform: scale(1.08) !important;
  transition-property: none;
}

/* Child inline elements have extra bottom margins (not same as "margin-bottom") */
div.caption-background.remove-inline-bottom-margins {
  font-size: 0px; /* Do not delete this one, it gets rid of the bottom margins of inline child elements */
}

.outline-padding-top {
  padding-top: 10px;
}

.outline-padding-bottom {
  padding-bottom: 10px;
}

.outline-padding-left {
  padding-left: 10px;
}

.outline-padding-right {
  padding-right: 10px;
}

.outline-padding-all {
  padding: 10px;
}

.outline-padding-all-10 {
  padding: 10px;
}

.outline-padding-all-20 {
  padding: 20px;
}

.outline-padding-all-30 {
  padding: 30px;
}

/**********
** Lists **
**********/

ul {
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

ul > li > ul {
  margin-right: 0px !important; /* Prevent stacking margins */
}

/* To make bottom margins ("padding") in sections consistent, 
   bottom most list items should exclude the bottom-margin */
div:not(.item) > ul:last-child > li:last-child {
  margin-bottom: 0px;
}

section li {
  margin-bottom: 5px;
}

div.content-body {
  width:100%;
  padding:0px;
  padding-right: 15px;
  padding-left: 15px;
}

div.content-body.four-o-four {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

hr {
  border-width: 1px;
  border-style: solid;
  border-color: White; /* White */
}

section {
  clear:both;
  height:auto;
  overflow: hidden;
  background-color: White;
  border-style: none;
  border-width: 2px;
  border-color: rgba(153,153,153,1);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 0px;
}

/************
** Masonry **
************/

.mason {
  /* Leave empty for now (keep for binding reasons) */
}

div.invisibox {
  margin-bottom: 20px;
}

section.contained-masonry {
  background-color: transparent;
}

section.contained-masonry.no-tabs {
  margin: 0px 0px !important;
}

section.four-o-four {
  margin: 0px !important;
  overflow-y: auto;
  flex: 1;
}

div.item > ul {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px;
  list-style-type: none;
  overflow: hidden; /* Fixes layout issue */
}

/********************
** Collapse toggle **
********************/

span.early-access {
  color: rgba(60,190,120,1); /* Active Green */
}

h2.collapse-toggle {
  width: 100% !important;
  font-size: 30px !important;
  padding: 20px !important;
  outline: none !important;
  border-style: none;
  border-bottom-style: solid !important;
  border-bottom-color: rgba(30,50,100,1); /* Darker Blue*/
  cursor: pointer;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  h2.blue-heading.collapse-toggle:hover {
    background-color: rgba(30,160,90,1); /* Hover Green */
  }
}

h2.blue-heading.collapse-toggle:active {
  background-color: rgba(60,190,120,1); /* Active Green */
}

/***************
** Change log **
***************/

div.change-log {
  height: auto;
  max-height: 800px;
  width: 100%;
  overflow-y: auto;
}

div.version {
  /* Leave empty for now (keep for structural or nominal reasons) */
}

div.version.remove-bottom-margin > ul:last-child{
  margin-bottom: 0px;
}

div.horizontal-separator {
  display: inline-block;
  width: calc(100% - 20px); /* Necessary if using 100% widths and you desire margins */
  height: 2px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.75) 40%, rgba(255, 255, 255, 0) 20%);
  background-position: center;
  background-size: 6px 2px;
  background-repeat: repeat-x;
  margin-bottom: 20px;
  margin-right: 20px;
}

/*********************
** Custom scrollbar **
*********************/

*::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}
 
*::-webkit-scrollbar-track {
  background-color: White; /* White */
  box-shadow: inset 0 0 12px rgba(59,89,152,1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(59,89,152,0.8); /* Dark Blue */
  border-radius: 0px;
  box-shadow: inset 0 0 4px rgba(0,0,0,1);
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30,160,90,1); /* Hover Green */
    border-radius: 0px;
    box-shadow: inset 0 0 4px rgba(0,0,0,1);
  }
}

*::-webkit-scrollbar-thumb:active {
  background: rgba(60,190,120,1); /* Active Green */
  border-radius: 0px;
  box-shadow: inset 0 0 4px rgba(0,0,0,1);
}

*::-webkit-scrollbar-button:single-button {
  background-color: rgba(30,50,100,1); /* Dark Blue */
  box-shadow: inset 0 0 4px rgba(0,0,0,1);
  display: block;
  width: 18px;
  height: 18px;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  *::-webkit-scrollbar-button:single-button:hover {
    background-color: rgba(30,160,90,1); /* Hover Green */
  }
}

*::-webkit-scrollbar-button:single-button:active {
  background-color: rgba(60,190,120,1); /* Active Green */
}

*::-webkit-scrollbar-button:single-button:vertical,
*::-webkit-scrollbar-button:single-button:horizontal {
  background-size: cover;
}

*::-webkit-scrollbar-corner {
  background-color: rgba(30,50,100,1); /* Dark Blue */
  box-shadow: inset 0 0 4px rgba(30,30,30,1);
}

*::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("../images/material-icon-arrow-up-white-rounded-cropped.png");
}

*::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("../images/material-icon-arrow-down-white-rounded-cropped.png");
}

*::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("../images/material-icon-arrow-left-white-rounded-cropped.png");
}

*::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("../images/material-icon-arrow-right-white-rounded-cropped.png");
}

/****************
** Quote boxes **
****************/

div.root-quote-box {
  background-color: rgba(245,245,245,1);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

div.quote-box.opening {
  border-top-style: solid;
  border-left-style: solid;
  border-color: Black;
  border-width: 1.5px;
  border-top-left-radius: 25px;
  padding-left: 15px !important;
  padding-right: 0px !important;
}

div.quote-box.opening::after {
  content: '"';
  position: relative;
  top: 12px;
  font-size: 40px;
}

div.quote-box.closing {
  border-bottom-style: solid;
  border-right-style: solid;
  border-color: Black;
  border-width: 1.5px;
  border-bottom-right-radius: 25px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  text-align: right;
}

div.quote-box.closing::after {
  content: '"';
  position: relative;
  top: 12px;
  font-size: 40px;
}

div.quote-box.origin {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 20px;
}

div.quote-box.origin > span {
  display: inline-block;
  background-color: rgba(245,245,245,1);
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

div.quote-box.body {
  margin-top: -36px; /* Alternates: -15px or -36px */
  margin-bottom: -46px; /* Alternates: -20px or -46px */
}

a.link-quote.list p {
  font-weight: bold;
}

a.link-quote.list p, a.link-quote.list ul > li {
  transition-duration: 0.25s;
  margin-bottom: 10px !important;
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  a.link-quote.list:hover p, a.link-quote.list:hover ul > li {
    color: rgba(30,160,90,1) !important; /* Hover Green */
  }
}

div.quote-box.body ul {
  margin-left: 40px;
  font-size: 15px;
}

div.quote-box p {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0px;
  text-align: justify;
}

div.smaller-p-children p {
  font-size: 16px !important;
}

div.smaller-ul-children ul {
  font-size: 14px !important;
}

/********************
** Root element(s) **
*********************/

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  width: 100%;
  min-width: 480px;
  max-width: 2600px;
  background-color: Black;
  background-color: rgba(139,157,195,1); /* Light Blue */
  margin-left: auto;
  margin-right: auto;
}

/*************************
** Formspree.io general **
*************************/

form#fs-frm {
  margin-right: 20px;
  margin-bottom: 20px;
}

#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0px;
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend {
  font-size: 1.5em;
  margin-bottom: .5em;
  cursor: pointer;
}

#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea {
  background-color: rgba(230,230,230,1); /* Form Background Grey */
  padding: .75em 1em;
  margin-bottom: 1.5em;
  resize: vertical;
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgba(160,160,160,1); /* Form Border Grey */
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  #fs-frm input[type="full-name"]:hover,
  #fs-frm input[type="email-address"]:hover,
  #fs-frm textarea:hover {
    /* Empty for now */
  }
}

#fs-frm input[type="full-name"],
#fs-frm input[type="email-address"] {
  width: 100%;
}

#fs-frm input[type="full-name"]:focus,
#fs-frm input[type="email-address"]:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: rgba(255,255,255,1);
  outline-color: rgba(30,50,100,1); /* Darker Blue */
  outline-color: Black; /* Black */
}

#fs-frm button,
#fs-frm input[type="button"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm button,
#fs-frm select {
  text-transform: none;
}

/**************************
** Formspree.io textarea **
***************************/

#fs-frm textarea {
  min-height: 200px;
  max-height: 600px;
  overflow-y: scroll;
}

/****************************************
** Formspree.io scrollbar for textarea **
****************************************/

#fs-frm textarea::-webkit-scrollbar {
  width: 28px;
  height: 28px;
}

/* Formspree.io scrollbar track 
 * (1) ENABLED + NOT FOCUSED 
 * (2) ENABLED + FOCUSED */
#fs-frm textarea::-webkit-scrollbar-track:enabled {
  background-color: rgba(255,255,255,0.2); /* White Not Focused */
  box-shadow: inset 0 0 12px rgba(59,89,152,0.2);
}

#fs-frm textarea:focus::-webkit-scrollbar-track:enabled {
  background-color: rgba(255,255,255,1); /* White Focused */
  box-shadow: inset 0 0 12px rgba(59,89,152,1);
}

/* Formspree.io scrollbar track 
 * (1) DISABLED + NOT FOCUSED 
 * (2) DISABLED + FOCUSED */
#fs-frm textarea::-webkit-scrollbar-track:disabled {
  display: none;
}

#fs-frm textarea:focus::-webkit-scrollbar-track:disabled {
  display: block;
  background-color: rgba(255,255,255,0.2); /* White Not Focused */
  box-shadow: inset 0 0 12px rgba(59,89,152,0.2);
}

/* Formspree.io scrollbar thumb
 * (1) NOT FOCUSED 
 * (2) FOCUSED 
 * (3) FOCUSED + HOVERED 
 * (4) FOCUSED + PRESSED 
 * Note: The thumb is only visible when area is scrollable, therefore
         there is no need to check for enabled/disabled states. */
#fs-frm textarea::-webkit-scrollbar-thumb {
  background-color: rgba(59,89,152,0.1); /* Dark Blue Not Focused */
  box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

#fs-frm textarea:focus::-webkit-scrollbar-thumb {
  background-color: rgba(59,89,152,1); /* Dark Blue Focused */
  box-shadow: inset 0 0 4px rgba(0,0,0,1);
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  #fs-frm textarea:focus::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30,160,90,1); /* Hover Green */
    box-shadow: inset 0 0 4px rgba(0,0,0,1);
  }
}

#fs-frm textarea:focus::-webkit-scrollbar-thumb:active {
  background-color: rgba(60,190,120,1); /* Active Green */
  box-shadow: inset 0 0 4px rgba(0,0,0,1);
}

/* Formspree.io scrollbar up and down buttons
 * (0) ALL STATES (BASE)
 * (1) ENABLED + NOT FOCUSED
 * (2) ENABLED + FOCUSED
 * (3) ENABLED + FOCUSED + HOVERED
 * (4) ENABLED + FOCUSED + PRESSED
 * (5) DISABLED
 */
#fs-frm textarea::-webkit-scrollbar-button:single-button {
  width: 28px;
  height: 28px;
}

#fs-frm textarea::-webkit-scrollbar-button:enabled:single-button {
  background-color: rgba(30,50,100,0.1); /* Darker Blue Not Focused */
  box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

#fs-frm textarea:focus::-webkit-scrollbar-button:enabled:single-button {
  background-color: rgba(30,50,100,1); /* Darker Blue Focused */
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  #fs-frm textarea:focus::-webkit-scrollbar-button:enabled:single-button:hover {
    background-color: rgba(30,160,90,1); /* Hover Green */
  }
}

#fs-frm textarea:focus::-webkit-scrollbar-button:enabled:single-button:active {
  background-color: rgba(60,190,120,1); /* Active Green */
}

#fs-frm textarea::-webkit-scrollbar-button:disabled:single-button {
  display: none;
}

/* Formspree.io scrollbar corner and resizer */
#fs-frm textarea::-webkit-scrollbar-corner {
  background-color: transparent; /* Transparent */
  box-shadow: none;
}

#fs-frm textarea:focus::-webkit-scrollbar-corner {
  background-color: rgba(30,50,100,1); /* Darker Blue */
  box-shadow: inset 0 0 4px rgba(30,30,30,1);
}

*::-webkit-resizer {
  background-size: cover;
  background-color: rgba(160,160,160,1); /* Form Border Grey */
  background-image: url("../images/resizer.png");
}

*:focus::-webkit-resizer {
  background-size: cover;
  background-color: rgba(30,50,100,1); /* Darker Blue */
  background-color: Black; /* Black */
  background-image: url("../images/resizer.png");
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  *:focus:hover::-webkit-resizer {
    /* Empty for now */
  }
}

/*******************************
** Formspree.io submit button **
*******************************/

#fs-frm input[type="submit"] {
  width: auto;
  background-color: rgba(59,89,152,1) !important;
  color: White !important;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm input[type="submit"]:focus {
  outline-style: double;
  outline-width: 4px;
  outline-color: rgba(30,50,100,1); /* Darker Blue */
}

@media (hover: hover), /* For all other browsers */
(-ms-high-contrast: none) /* Internet Explorer compat */ {
  #fs-frm input[type="submit"]:hover {
    background-color: rgba(30,160,90,1) !important; /* Hover Green */
  }
}

#fs-frm input[type="submit"]:active {
  background-color: rgba(60,190,120,1) !important; /* Active Green */
}

/******************
** Toast message **
******************/

#toast {
  visibility: hidden;
  min-width: 300px;
  margin-left: -150px;
  background-color: #000000dd;
  background-color: rgba(0,0,0,0.86); /* fallback color for Microsoft Edge */
  color: #ffffffff;
  color: rgba(255,255,255,1); /* fallback color for Microsoft Edge */
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
    } 
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
    }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  } 
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}