/* Author: Peter "Felix" Nguyen */

/* Bootstrap Modals */

/* Remove text selection AND passes input */
.not-clickable {
    pointer-events: none;
}

body.modal-open {
    overflow: inherit;
    padding-right: 0px !important;
    overflow-y: hidden;
}

.modal-title { /* regular h5 pushes the X button down*/
    padding-left: 0px !important;
    float: left;
}

.modal-dialog {
    width: 90% !important;
    margin: 0px !important;
    padding: 0px !important; /* Important to remove annoying right padding for scrollbar (1) */
    margin-top: 50px !important;
}

.modal-backdrop {
    opacity:0.75 !important;
}
.modal {
    padding: 0px !important; /* Important to remove annoying right padding for scrollbar (2) */
}

button {
    opacity: 1.0 !important;
}

button:hover {
    opacity: 0.5 !important;
}

/* Bootstrap Carousels */

div.carousel {
    display: block;
    width: 90%;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgba(120,120,245,1);
}

/* necessary to undo .item from masonry (carousel also uses .item)*/
/* tried to refactor .item but that didn't work properly */
.item-carousel {
    padding: 0px !important;
    margin: 0px !important;
}

div.slide {
    padding: 0px !important;
    margin-top: 0px !important;
}

.glyphicon {
    /*margin-left: -45px !important;*/
    /*font-size: 60px !important;*/
}

div.carousel-inner > div.item {
    width: 100%;
}

/* General -> Other */

.min500 {
	min-height: 500px;
}

/* Header */

div.header {
    background-color: rgba(139,157,195,1); /* Light Blue */
	width: 100%;
	clear: both;
	height: 240px;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-align: left;
}

div.header > a {
	float: left;
	height: 100%;
}

div.header > div.name {
	background-color: White; /* Fallback color White*/
	background-color: rgba(60,190,120,1); /* Fallback color Calm Green */
	background-color: rgba(120,120,245,1); /* Fallback color Calm Blue */
	background: linear-gradient(210deg, rgba(120,120,245,1), rgba(60,190,120,1)); /* Calm Blue dominant gradient */
	background: linear-gradient(210deg, rgba(120,120,245,1), rgba(60,190,120,1), rgba(60,190,120,1)); /* Calm Green dominant gradient */
	position: absolute;
	left: 230px;
	right: 0px;
	top: 10px;
	font-size: 30px;
	height: 120px;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: rgba(47,71,121,1); /* Darker Blue */
}

div.header > div.name:hover {
	border-color: rgba(255,255,255,1);
}

div.header > div.name > a {
	font-weight: bold !important;
	width: 33%;
	float: left;
	text-align: center;
	margin-top: 10px;
	line-height: 90px;
	display: block;
	color: Black;
}

div.header > div.name > a:hover {
	color: rgba(255,255,255,1) /* White */;
}

div.header > div.name > a:nth-child(2) {
	border-left-style: solid;
	border-left-color: Black;
	border-left-width: 6px;
	border-right-style: solid;
	border-right-color: Black;
	border-right-width: 6px;
	width: 34% !important;
}

div.header > div.name:hover > a:nth-child(2) {
	border-color: rgba(255,255,255,1) /* White */;
}

div.header > div.pages {
	position: absolute;
	left: 230px;
	right: 0px;
	bottom: 0px;
	font-size: 30px;
	padding-right: 0px;
}

div.header > div.pages > a {
	background-color: rgba(59,89,152,1); /* Dark Blue */
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	padding: 25px 0px;
	margin: 0px 0px;
	float: left;
	font-weight: bold !important;
	width: 33%;
	text-align: center;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;	
	border-top-color: rgba(47,71,121,1); /* Darker Blue */
	border-bottom-color: rgba(255,255,255,1); /* White */
	border-left-color: rgba(47,71,121,1); /* Darker Blue */
	border-right-color: rgba(47,71,121,1); /* Darker Blue */
	border-top-width: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	font-size: 30px;
}

div.header > div.pages > a.first {
	border-top-right-radius: 0px;
	border-top-left-radius: 10px;
    border-right-style: none;
}

div.header > div.pages > a.last {
    border-top-right-radius: 10px;
	border-top-left-radius: 0px;
    border-left-style: none;
}

div.header > div.pages > a:nth-child(2) {
	width: 34%;
}

/* This is no longer needed with the new JQuery hover function */
div.header > div.pages > a:hover {
	/* background-color: rgba(60,190,120,1); */
}

div.header > div.pages > a.selected {
	background-color: rgba(223,227,238,1); /* Pale Blue */;
    background-color: rgba(139,157,195,1); /* Light Blue */
	color: Black;
	background-color: rgba(60,190,120,1); /* Calm Green */
	border-bottom-color: rgba(60,190,120,1); /* Calm Green */
}

div.header > div.name-logo > h1 {
	float: left;
	color: White !important;
}

div.header > div.name-logo {
	position: absolute;
	left: 0px;
	top: 10px;
	overflow: visible;
}

div.header > div.name-logo > a  {
	float: left;
	margin: 10px 0px;
	border-radius: 10px;
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
	background-repeat: no-repeat;
	background-image: url("../ximages/logo-colored1b.png");
}

div.header > div.name-logo > a:hover {
	background-image: url("../ximages/logo-colored2.png");
}

div.header > div.name-logo > a {
	margin: 0px !important;
	padding: 0px !important;
}

div.header > div.name-logo > a > h1 {
	margin: 0px;
	padding: 0px 20px;
	line-height: 50px;
}

div.header > div.name-logo > a > h3 {
	margin: 0px;
	padding: 0px 20px;
	line-height: 51px;
}

/*
	Masonry
*/
.row {
	margin-left: 0px;
	margin-right: -5px;
}

.invisibox {
    margin-bottom: 20px;
}

.contacts {
	margin-left: -20px !important;
}

div.item {
	background-color: rgba(255,255,255,1);
    margin-bottom: 0px !important;
}

div.item-margin {
    margin-top: 20px !important;
}

div.item > ul {
	margin-top: 20px;
	list-style-type: none;
	overflow: hidden; /* Fixes layout issue */
	//padding-bottom: 10px; /* Fixes layout issue if enough padding */
	padding-left: 0px;
}

li span { 
    font-weight: bold !important; 
}

a.screenshot {
    display: block;
    width: 90%;
    max-height: 100%;
    margin-top: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    cursor: pointer; /* required when used with anchor modals */
}

a.slideshow {
    cursor: pointer; /* required when used with anchor modals */
}

a.screenshot-left {
    display: block;
    width: 100%;
    max-height: 100%;
    margin-top: 0px !important;
    margin-left: none !important;
    margin-right: none !important;
    cursor: pointer; /* required when used with anchor modals */
}

a.screenshot-right {
    display: block;
    width: 100%;
    max-height: 100%;
    margin-top: 0px !important;
    margin-left: none !important;
    margin-right: none !important;
    cursor: pointer; /* required when used with anchor modals */
}

img.temp {
    display: block;
    width: 90%;
    max-height: 100%;
    margin-top: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;    
}

img {
    width: 100%;
}

p.caption {
    padding-top: 8px;
    font-size: 18px;
    text-align: center;
}

div.item  > h4 {
	border-bottom-style: solid;
	border-bottom-color: rgba(47,71,121,1); /* Darker Blue */
	color: Black;
}

div.item > ul > li {
	float: left;
	background-color: rgba(238,238,238,1);
	padding: 10px;
	margin: 0px;
	font-size: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(153,153,153,1);
}

.bordered {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(153,153,153,1);
}

.mason {
	padding: 0px;
    margin-top: -20px;
}

.content-box {
	background-color: blue;
	width: 300px;
	height: 200px;
	border-style: solid;
	border-width: 10px;
	display: none;
}

.border-box {
	background-color: red;
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	border-style: solid;
	border-width: 10px;
	display: none;
}

.item {
	float: left;
	background-color: rgba(238,238,238,1);
	padding: 0px;
    padding-top: 20px;
	margin: 0px;
	margin-bottom: 20px;
	border-style: none;
	border-radius: 10px;
	border-width: 0px;
	border-width: 2px;
	border-color: rgba(153,153,153,1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
	Bootstrap
*/
.col-sm-12, .col-lg-4 {
	padding: 0px;
}

.main-block {
	height: auto;
	overflow: hidden;
	clear: both;	
}

/* Parent Padding */
.tab-content {
	padding: 0px;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 1px; /* Ensure parent height fits child height */
	background-color: rgba(120,120,245,1); /* Calm Blue */
	background-color: rgba(139,157,195,1); /* Light Blue */
}

.tab-pane {
	margin: 0px;
	padding: 0px;
}

div.tab > ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
	list-style-position: inside;
	text-align: center;
}

div.left-col > div.tab > ul > li > a {
	border-top-left-radius: 0px; /* Smooth border */
	border-bottom-left-radius: 0px; /* Smooth border */  
	font-size: 30px;
	padding: 25px 0px;
	margin: 0px;
	font-weight: bold !important;
	display: inline-block;
	width: 230px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;	
	border-left-color: rgba(47,71,121,1); /* Darker Blue */
	border-top-color: rgba(47,71,121,1); /* Darker Blue */
	border-bottom-color: rgba(47,71,121,1); /* Darker Blue */
	border-left-width: 5px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-right-style: solid;
	border-right-color: rgba(255,255,255,1); /* White */ 
	background-color: rgba(59,89,152,1);
}

div.left-col > div.tab > ul > li > a.first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
}

div.left-col > div.tab > ul > li > a.last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-style: none; /* not sure if prefer none or solid */
}

div.left-col > div.tab > ul > li.active > a {
	background-color: rgba(223,227,238,1); /* Pale Blue */
    background-color: rgba(139,157,195,1); /* Light Blue */
	color: Black;
	font-weight: bold !important;
	background-color: rgba(60,190,120,1) !important; /* Calm Green */
	border-right-color: rgba(60,190,120,1) !important; /* Calm Green */
}

/* This is no longer needed with the new JQuery hover function */
div.left-col > div.tab > ul > li > a:hover {
	/* background-color: rgba(60,190,120,1); */
}

.left-col {
    background-color: rgba(139,157,195,1); /* Light Blue */
	float:left;
	width: 230px;
	height: auto;
}

.left-col > h2 {
	text-align: right;
}

.right-col {
	width: auto;
	overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 20px;
}

h1 {
	font-size: 120px !important;
}

h2 {
	font-size: 30px !important;
    margin-bottom: 20px !important;
}

h3 {
	font-size: 25px !important;
}

h4 {
	font-size: 25px !important;
    padding-top: 0px !important;
    margin-bottom: 20px;
}

h5 {
	font-size: 22px !important;
    font-weight: bold !important;
    padding: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
}

section > h2, section > h3, section > h4 {
	border-bottom: solid;
	border-bottom-color: rgba(47,71,121,1); /* Darker Blue*/
}

section > h4.no-separator {
	border-bottom: none;
    padding-bottom: 0px;
}

section > h2, section > h3 {
	border-bottom: solid;
	border-bottom-color: rgba(47,71,121,1); /* Darker Blue*/
	color: white;
	margin: 0px;
	margin-bottom: 20px;
	background-color: rgba(59,89,152,1); /* Dark Blue */
}

section > h2 {
	font-weight: bold !important;
	border-radius: 10px;
}

section > h3 {
	font-weight: bold !important;
	border-radius: 10px;
}

section > h4 {
	font-size: 25px;
}

p {
	font-size: 20px;
    padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 20px;
}

div.tab {
	/* DELETE FROM HTML ??? */
}

/* Do not delete this one */
.container-fluid > .row  {
	padding-left: 0px !important;  /* 2019 style change, previously 15 */
	padding-right: 5px !important; /* 2019 style change, previously 15 */
}

.container-fluid > .row > div {
	margin-bottom: 0px;
}

.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.contained {
    margin: 10px 15px !important; 
    margin-right: 0px !important; /* 2019 style change */
}

.contained-masonry {
    margin: 10px 15px !important; 
    margin-right: 0px !important; /* 2019 style change */
}

/* old */

body {
    width: 100%;
	min-width: 480px;
	max-width: 2600px;
    background-color: Black;
    background-color: rgba(139,157,195,1); /* Light Blue */
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited, a:hover {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: White;
}

a.content:link, a.content:visited, a.content:hover {
    margin: 0px;
    margin-bottom: 0px !important;
    padding: 0px !important;
    font-size: 20px;
    text-decoration: none;
    color: Blue;
}

ul {
    padding: 0px 20px;
	margin: 0px;
	margin-left: 30px;
}

div.content-body {
    width:100%;
    padding:0px;
	padding-right: 15px;
	padding-left: 15px;
}

hr {
    border-width:1px;
    border-style:solid;
    border-color:rgba(255,255,255,1);
}

section {
    overflow:auto;
    clear:both;
    height:auto;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: hidden;
	border-radius: 10px;
    /*background-color: red !important;*/
}

section.contained {
    background-color: White;
	border-style: none;
	border-width: 2px;
	border-color: rgba(153,153,153,1);
	border-radius: 10px;
}

section.contained > h2 {
	border-radius: 0px;
	margin-bottom: 0px;
}

/*
.row > div:first-child > section.scaffold {
	margin-left: 20px;
}
*/

section.scaffold {
	margin-right: 10px;
	margin-left: 5px; /* 2019 style change, previously 10px*/
}

/* Embedded content */

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:35px;
    height:0;
    overflow:hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:0;
}

/* Super parent */

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

/* Formspree.io */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend {
  font-size: 1.5em;
  margin-bottom: .5em;
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1em;
  margin-bottom: 1.5em;
  resize: vertical;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
  resize: vertical;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm button,
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm button:focus,
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm button,
#fs-frm select {
  text-transform: none;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}