/* Author: Peter "Felix" Nguyen */

.min500 {
  min-height: 500px;
}

.min800 {
  min-height: 800px;
}

div.content-body.four-o-four {
  display: flex;
  flex-flow: column;
  height: 100vh;
  max-height: 1200px;
}

.grid-sizer, .item  {
  width: calc((100% - 40px) / 3);
}

ul.mason > li.wide {
  width: 100%;
}

.gutter-sizer {
  width: 20px;
}

.col-sm-12 {
  margin-bottom: -20px;
}

div.header > div.name > a {
  font-size: 5vw;
}

body {
  //background-color: Magenta !important;
}